@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #F9F5F0;
  margin: 0;
  padding: 0;
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #D1D5DB;
  border-radius: 20px;
}
